.login-aux-page{
	background: #B6DCAE;
	height: 100vh;
	width: 100%;
	display: table;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-aux-page form{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	margin-top: 50px;
	margin-bot: 0;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
	border-radius: 12px;
}

.login-aux-page h1{
	background: #00473E;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 100;
	width: 500px;
	padding: 20px;
	margin: -30px -30px 30px -30px;
	border-radius: 12px;
}

.login-aux-page h2{
	background: #8CB1AC;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #555;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 5px -30px;
}

.login-aux-page label{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	background: transparent;
	margin-bottom: 10px;
	margin-right: 5px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 1px;	
}

.login-aux-page input{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: table-row;
	width: 45%;
	padding: 7px;
	border: none;
	border-bottom: 3px solid #555;
	border-radius: 12px;
	background-color: #B6DCAE;
	margin-bottom: 5px;
	margin-right: 15px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 35px;
}

.login-aux-page select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: table-row;
	width: 45%;
	padding: 7px;
	border: none;
	border-bottom: 3px solid #555;
	background-color: #B6DCAE;
	margin-bottom: 5px;
	margin-right: 15px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 35px;
	border-radius: 12px;
}

.login-aux-page button{
	background-color: #00473E; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline;
	font-size: 16px;
	margin: 4px 0px 4px 300px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 12px;
}